body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  width: 100%;
  height: 100%;
}

.nav-menu{
        position: fixed;
        left: -100%;
}

.nav-active-dark{
        background: #1C1C1C;
        width:16vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        margin: 0;
        padding: 0;
        left: 0;
}

.nav-active-light{
  background: #057533;
  width:16vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
}

.list-dark{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 8vh;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.list-dark a{
  text-decoration: none;
  color: #0095B6;
  font-size: 20px;
  margin-left: 2vw;
}

.list-light{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 8vh;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.list-light a{
  text-decoration: none;
  color: cyan;
  font-size: 20px;
  margin-left: 2vw;
}

.list-dark a:hover{
  color: #B00000;
}

.list-light a:hover{
  color: #134728;
}

.chatlist-dark{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #023c44;
}

.chatlist-light{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #bff2e3;
}

.createchat-dark{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #023c44;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatlistItem{
  width: 100%;
  height: 45px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 30px;
}

.chatlistItem h{
  margin-left: 20px;
  font-size: 17px;
}

.chatlistItem:hover{
  background: gray;
}

.chatlistlist{
  width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #0b1e24;
  overflow: scroll;
}

::-webkit-scrollbar{
  width: 15px;
  height: 0px;
  background: #057533;
}

::-webkit-scrollbar-track{
  background: gray;
}

::-webkit-scrollbar-thumb{
  background: #0a2b15;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
  background: #061209;
  border-radius: 30px;
}

.actionButton{
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionsBlock{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action{
  width: 20px;
  height: 20px;
}

.action:hover{
  color: red;
}

.chatlistlistblock{
  width: 330px;
  margin-top: 40px;
}

.addusers{
  display: none;
}

.addusers-active{
  justify-content: center;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addusers-active input{
  width: 80%;
  height: 70%;
  border: 2px solid black;
  border-radius: 30px 0px 0px 30px;
  outline: none;
}

.addusers-active button{
  width: 20%;
  height: 80%;
  border: 2px solid black;
  border-radius: 0px 30px 30px 0px;
  background: #3cc93c;
}

.addusers-active button:hover{
  background: #163d20;
}

.createchat-light{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #bff2e3;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createChatForm{
  width: 46vw;
  height: 50vh;
}

.createChatLabel{
  width: 650px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createChatLabel label{
  width: 100px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 8px black;
  -webkit-text-stroke: 1px black;
}

.createChatLabel input{
  margin-left: 40px;
  width: 300px;
  height: 50px;
  box-shadow: 0px 0px 2px 1px white;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 50px;
  padding: 0 15px;
  outline: none;
}

.createChatLabel input:focus{
  box-shadow: 0px 0px 2px 1px black;
}

.createChatButton{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.createChatButton button{
  width: 200px;
  height: 70px;
  margin-right: 20px;
  background: #3cc93c;
  border: 3px solid black;
  border-radius: 50px;
  box-shadow: 0 0 4px 1px white;
  font-size: 30px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}

.createChatButton button:hover{
  background: #28402e;
}

.errorform{
  width: 570px;
  height: 220px;
  background: #e84a4a;
  right: -150%;
  bottom: 2%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  transition: .70s right;
  border-radius: 50px 50px 0px 50px;
}

.errorform.active{
  right: 1%;
}
.createChatFormH{
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createChatFormH h{
  width: 90%;
  text-align: center;
  font-size: 22px;
}

.createChatFormButton{
  width: 95%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.createChatFormButton button{
  width: 120px;
  height: 50px;
  border: 3px solid black;
  box-shadow: 0 0 4px 2px black;
  font-size: 30px;
  font-weight: bold;
}

.createChatFormButton button:hover{
  background: tomato;
}


.successfulform{
  width: 570px;
  height: 220px;
  background: #3cc93c;
  right: -150%;
  bottom: 2%;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  transition: .70s right;
  border-radius: 50px 50px 0px 50px;
}

.successfulform.active{
  right: 1%;
}

.settings-dark{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #023c44;
}

.settings-light{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bff2e3;
}

.themechange{
  height: 600px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.darktheme-light{
  width: 45%;
  height: 60%;
  background: #023c44;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 40px;
  box-shadow: 0 0 4px 2px black;
}

.darktheme-dark{
  display: none;
}

.darktheme-light button{
  width: 40%;
  height: 20%;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px black;
  font-size: 20px;
  text-shadow: 4px 4px 2px lightcoral;
}

.darktheme-light button:hover{
  background: grey;
}

.lighttheme-dark{
  width: 45%;
  height: 60%;
  background: #bff2e3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 40px;
  box-shadow: 0 0 4px 2px black;
}

.lighttheme-light{
  display: none;
}

.lighttheme-dark button{
  width: 40%;
  height: 20%;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px black;
  font-size: 20px;
  text-shadow: 4px 4px 2px lightcoral;
}

.lighttheme-dark button:hover{
  background: gray;
}

.logout{
  height: 100px;
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logout button{
  width: 100px;
  height: 73px;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 2px black;
  font-size: 20px;
  text-shadow: 4px 4px 2px lightcoral;
  margin-right: 10px;
}

.logout button:hover{
  background: tomato;
}

.home-dark{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #023c44;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-light{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #bff2e3;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeText{
  text-align: center;
}

.img-dark{
  width:4vw;
  height: 6vh;
  margin-left: 1vw;
  margin-top: 1vh;
  color: white;
}

.img-light{
  width:4vw;
  height: 6vh;
  margin-left: 1vw;
  margin-top: 1vh;
  color: #023c44;
}

.img-dark:hover{
  color: #070849;
}

.img-light:hover{
  color: #0e783a;
}

.h{
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 140px;
  font-style: italic;
  text-shadow: 4px 4px 8px gray;
  -webkit-text-stroke: 2px black;
}

.h2{
  margin: 0;
  padding: 0;
  color: #383333;
  font-size: 80px;
  font-style: italic;
  text-shadow: 4px 4px 8px gray;
  -webkit-text-stroke: 2px black;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width:100%;
  height: 100vh;
}

.logreg-dark{
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background: #023c44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logreg-light{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #bff2e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logregLabel{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logregLabel label{
  width: 100px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 8px black;
  -webkit-text-stroke: 1px black;
}

.logregLabel input{
  margin-left: 40px;
  width: 300px;
  height: 50px;
  box-shadow: 0px 0px 2px 1px white;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 50px;
  padding: 0 15px;
  outline: none;
}

.logregLabel input:focus{
  box-shadow: 0px 0px 2px 1px black;
}

.logregLabelButton{
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logregLabelButton button{
  width: 200px;
  height: 70px;
  margin-right: 20px;
  background: #3cc93c;
  border: 3px solid black;
  border-radius: 50px;
  box-shadow: 0 0 4px 1px white;
  font-size: 30px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}

.logregLabelButton button:hover{
  background: #28402e;
}

.login-able{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-disable{
  display: none;
}

.register-able{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-disable{
  display: none;
}

.logregButton{
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logregButton button{
  font-size: 20px;
  background: transparent;
  border: none;
}

.logregButton button:hover{
  color: red;
}

.logregButton h{
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .list-dark span{
    display: none;
    text-align: center;
  }

  .list-light span{
    display: none;
    text-align: center;
  }

  .list-dark{
    height: 14vh;
  }

  .list-light{
    height: 14vh;
  }

  .img-dark{
    width:6vw;
    height: 9vh;
  }

  .img-light{
    width:6vw;
    height: 9vh;
  }

  .icon{
    width:4vw;
    height: 6vh;
  }

  .nav-active-dark{
    width: 70px;
  }

  .nav-active-light{
    width: 70px;
  }

  .h{
    font-size: 10vw;
  }

  .createChatForm{
    margin-left: 50px;
  }

  .createChatFormH h{
    font-size: 27px;
  }

  .errorform{
    width: 500px;
  }

  .successfulform{
    width: 500px;
  }

  .createChatFormButton button{
    width: 150px;
    font-size: 30px;
  }

  .createChatForm{
    width: 400px;
  }

  .createChatLabel{
    width: 400px;
  }

  .createChatButton{
    width: 400px;
  }

  .createChatButton button{
    width: 160px;
    height: 60px;
    font-size: 30px;
  }

  .createChatLabel label{
    width: 50px;
    font-size: 25px;
  }
  
  .createChatLabel input{
    width: 200px;
    height: 50px;
    font-size: 35px;
  }

  .themechange{
    height: 300px;
    width: 500px;
  }
 
  
  .darktheme-light button{
    height: 45%;
    width: 55%;
    font-size: 20px;
  }
  
  
  .lighttheme-dark button{
    height: 45%;
    width: 55%;
    font-size: 20px;
  }
  
  .logout{
    height: 100px;
    width: 550px;
  }
}

@media screen and (max-width: 600px) {
  .nav-active-dark{
    width: 90px;
  }

  .nav-active-light{
    width: 90px;
  }

  .img-dark{
    width:13vw;
    height: 11vh;
  }

  .img-light{
    width:13vw;
    height: 11vh;
  }

  .icon{
    width:10vw;
    height: 8vh;
  }

  .h{
    font-size: 10vw;
  }

  .errorform{
    width: 190px;
    height: 130px;
  }

  .successfulform{
    width: 190px;
    height: 130px;
  }

  .createChatForm{
    width: 250px;
  }

  .createChatLabel{
    width: 180px;
    height: 50px;
    margin-left: 20px;
  }

  .createChatButton{
    width: 200px;
    height: 60px;
  }

  .createChatFormH{
    height: 75%;
  }

  .createChatFormH h{
    font-size: 15px;
  }

  .createChatFormButton{
    height: 25%;
  }

  .createChatFormButton button{
    width: 70px;
    height: 25px;
    font-size: 15px;
  }

  .createChatButton button{
    width: 75px;
    height: 30px;
    font-size: 15px;
  }

  .createChatLabel label{
    width: 15px;
    font-size: 15px;
  }
  
  .createChatLabel input{
    width: 60px;
    height: 30px;
    font-size: 18px;
  }
  
  .themechange{
    height: 250px;
    width: 250px;
  }
 
  .darktheme-light{
    width: 65%;
  }

  .darktheme-light button{
    height: 45%;
    width: 55%;
    font-size: 15px;
  }

  .lighttheme-dark{
    width: 65%;
  }
  
  
  .lighttheme-dark button{
    height: 45%;
    width: 55%;
    font-size: 15px;
  }
  
  .logout{
    height: 100px;
    width: 250px;
  }
}
