body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  width: 100%;
  height: 100%;
}

.nav-menu{
        background: #1C1C1C;
        width:16vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        margin: 0;
        padding: 0;
        left: -100%;
}

.nav-menu.active{
  left: 0;
}

.list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 8vh;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.list a{
  text-decoration: none;
  color: #0095B6;
  font-size: 20px;
  margin-left: 2vw;
}

.list a:hover{
  color: #B00000;
}

.chatlist{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: dimgray;
}

.createchat{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(images/createChatBackground.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: black;
}

.home{
  width:100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(images/homeBackgroud.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
        width:4vw;
        height: 6vh;
        margin-left: 1vw;
        margin-top: 1vh;
        color: white;
    }

.img:hover{
  color: #003153;
}

.h{
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 8vw;
  font-style: italic;
  text-shadow: 4px 4px 8px gray;
  -webkit-text-stroke: 2px black;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width:100%;
  height: 100vh;
}

@media screen and (max-width: 992px) {
  .list span{
    display: none;
    text-align: center;
  }

  .list{
    height: 14vh;
  }

  .img{
    width:6vw;
    height: 9vh;
  }

  .icon{
    width:4vw;
    height: 6vh;
  }

  .nav-menu{
    width: 9vw;
  }

  .h{
    font-size: 10vw;
  }
  
}

@media screen and (max-width: 600px) {
  .nav-menu{
    width: 16vw;
  }

  .img{
    width:13vw;
    height: 11vh;
  }

  .icon{
    width:10vw;
    height: 8vh;
  }

  .h{
    font-size: 10vw;
  }
}
